
.profile{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 70px auto;
    position: relative;
    height: 550px;
}
.background_blue{
    background-color: #17A2B8;
    height: 150px;}

.text_container{
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(201, 198, 198);
    gap: 20px;
    border-top: 0;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row{
    display: flex;
    gap: 10px;
    align-items: center;
}

.text_container2{
    display: flex
    ;
        flex-direction: column;
        margin-top: 80px;
        margin-left: 5%;
        gap: 20px;
        padding-bottom: 40px;
        width: 70%;
}
.text{
    color: black;
    font-weight: bolder;
    margin: 0px;
    font-size: 30px;
}

.text2{
    color: black;
    margin: 0px;
    font-size: 30px;
}
.textMain{
    font-size: 40px;
}
.text_container1{
    display: flex;
    flex-direction: column;
}


.imagee{
    border-radius: 50%;
    height: 140px;
    width: 140px;
    position: absolute;
    top: 12%;
    left: 5%;
}
.firstP {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 3px;
    gap: 70px;
    
}
.firstP img{margin-right: 3px;
    border-radius: 50%;
    width: 40px;
    height: 40px;

}

.P2{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 5%;

}
.P {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 5% ;
}
.firstM {
    margin-right: 3px;
    border-radius: 60%;
    width: 20px;
    height:25px;

}
.firstS{
    border-radius: 50%;
    width: 40px;
    height:40px;
    margin-left: 5%;
}
.Last{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 250px;
    height: 280px;
}

.edit   {
    display: flex;
    align-items: center;
    gap: 5px;
}

.names{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

hr{
    width: 100%;
    border: 1px solid rgb(208, 212, 223);
    
}

